@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Paytone+One&display=swap');




* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: auto 0;
}

body {
  font-family: Abyssinica SIL,sans-serif;
}
@mixin ani{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 15px;
  transition: .4s;
  border-radius: 10px;
  padding: 15px 30px;
  color: black;
  background: aqua;
}